@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap')

$c_txt_gray64: rgba(0, 11, 38, 0.64)
$c_txt_gray72: rgba(0, 11, 38, 0.72)
$c_txt_gray80: rgba(0, 11, 38, 0.8)
$c_background_surface_8: rgba(62, 80, 114, 0.08)
$c_dark_blue: rgba(6, 14, 33, 0.88)
$c_base_green: rgba(7, 200, 142, 0.99)
$c_txt_gray88: rgba(0, 11, 38, 0.88)
$c_txt_gray56: rgba(0, 11, 38, 0.56)
$c_txt_gray100: #000B26
$c_modal_background: rgba(53, 53, 53, 0.6)
$c_txt_gray40: rgba(0, 11, 38, 0.4)


@mixin interRegularBase64
  font-family: Inter, serif
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 18px
  letter-spacing: -0.15px
  color: $c_txt_gray64

@mixin interRegularBase72
  font-family: Inter, serif
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 20px
  color: $c_txt_gray72


@mixin interRegularBase80
  font-family: Inter, serif
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 20px
  color: $c_txt_gray80


@mixin interRegular16Base64
  font-family: Inter, serif
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 22px
  color: $c_txt_gray64

@mixin interSemiBold16Base80
  font-family: Inter, serif
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 24px
  color: $c_txt_gray80

@mixin interRegular16Base80
  font-family: Inter, serif
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: $c_txt_gray80

@mixin interSemiBold16Base88
  font-family: Inter, serif
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 20px
  color: $c_txt_gray88

@mixin interSemiBold16Base56
  font-family: Inter, serif
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 20px
  color: $c_txt_gray56

@mixin interSemiBoldBlack
  font-family: Inter, serif
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 20px
  color: black

@mixin interRegularBase56
  font-family: Inter, serif
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 18px
  letter-spacing: -0.15px
  color: $c_txt_gray56

@mixin interSemiBoldHeader40
  font-family: Inter, serif
  font-style: normal
  font-weight: 600
  font-size: 40px
  line-height: 48px
  color: black

@mixin interSemiBoldHeader32
  font-family: Inter, serif
  font-style: normal
  font-weight: 600
  font-size: 32px
  line-height: 40px
  color: $c_txt_gray100

@mixin interBoldHeader48
  font-family: Inter, serif
  font-style: normal
  font-weight: 700
  font-size: 48px
  line-height: 56px
  color: $c_txt_gray100

@mixin interHeader28-32
  font-family: Inter, serif
  font-style: normal
  font-weight: 600
  font-size: 28px
  line-height: 32px
  color: $c_txt_gray88

@mixin inter14-20-40
  font-family: Inter, serif
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 20px
  color: $c_txt_gray40

@mixin interGreenButton
  font-family: Inter, serif
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 20px
  color: $c_base_green