@import  '../../../defaultStyles/mixins.sass'

.footer
  display: flex
  flex-direction: row
  align-items: center
  padding-left: 200px
  height: 64px
  gap: 32px
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.12)
  @include interRegular16Base64
.contactBlock
  display: flex
  flex-direction: row
  align-items: center
  gap: 8px