@import '../../../styles/mixins'

.LButton
  border-radius: 8px
  padding: 12px 24px
  @include interRegular16Base80

.LButtonGreen
  background: $c_base_green
  color: white

.LButtonGray
  background: $c_background_surface_8
  color: $c_txt_gray80